{% extends 'NewsSiteProj/base.html' %}
{% block content %}
    {{ error }}
    <div class="editpost">
        <h2>Edit Post</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="create_btn" type="submit">Save</button>
        </form>
        <br>
        <form method="POST" action="{% url 'removepost' post.id %}">
            {% csrf_token %}
            <button class="create_btn" type="submit">Remove</button>
        </form>
    </div>


{% endblock %}