{% extends 'NewsSiteProj/base.html' %}
{% block content %}

    <div class="card-group">
        {% for post in posts %}

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.description }}</p>
                            <img src="{{ post.image.url }}" style="width: 10rem;">
                            <a href="{% url 'detail' post.id %}" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            {#            <div class="card" style="width: 18rem;">#}
            {#                <div class="card-body">#}
            {#                    <h1 class="card-title">{{ post.title }}</h1>#}
            {#                    <p class="card-text">{{ post.description }}</p>#}
            {#                    <img src="{{ post.image.url }}" style="width: 10rem;">#}
            {#                    <a href="{% url 'detail' post.id %}">לפרטים נוספים</a>#}
            {#                </div>#}
            {#            </div>#}


        {% endfor %}
    </div>

{% endblock %}

